
/* On mobile devices we want a full-sided basket */
@media only screen and (max-width: 480px)  {
  .basket-modal {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
}

@media only screen and (min-width: 481px)  {
  .basket-modal {
    width: 40%;
    float: left;
    margin: 3%;
  }
}

.basket-modal {
  height: 90%;
  background-color: white;
  overflow: scroll;
  border: solid 4px var(--beige);
  font-family: 'Futurice', Roboto;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.basket-modal-text {
  color: black;
  font-size: 1rem;
  margin: 2%;
}

.basket-modal-text p {
  margin: 0;
  color: black;
}

.basket-modal-heading {
  min-height: 12%;
  border-bottom: solid 2px var(--beige);
  display: flex;
  flex-wrap: wrap;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal-heading-header {
  text-align: center;
  padding-top: 1%;
  color: black;
  flex: 1;
}

.close-button {
  float: right;
  border: 0;
  background: none;
  cursor: pointer;
  font-size: 2rem;
}

.top-right {
    flex: 50%;
    text-align: right;
}