.feedback-button {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: var(--purpley);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  min-height: 40px;
  font-size: 0.9rem;
  width: 150px;
  float: right;
}