/* Landing Page */

@media only screen and (max-width: 480px)  {
  html {
    font-size: 16px !important;
  }
  .body-text-container {
    flex-wrap: wrap;
  }
  .chilicorn-fund {
    height: 400px;
  }
  
  .heading-1-chilicorn {
	  padding-top: 10%;
  }

  .most-common-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media only screen and (min-width: 480px)  {
  body {
    font-size: 21px !important;
  }
  .chilicorn-fund {
    height: 600px;
  }

  .heading-1-chilicorn {
	  padding-top: 5%;
  }
}

body {
    background: black;
    font-weight: 400;
    margin: 0;
}

.content {
  max-width: 960px;
  width: 95%;
  margin: 0 auto;
}

.is-centered {
  text-align: center;
}

.body-text-container {
  flex-direction: column;
  display: flex;
  margin: 2%;
}

.most-common-container {
	display: flex;
  margin: 2%;
  max-width: 960px;
}

.most-common-container div {
  flex: 1;
}

a {
  color: white;
}

.form-box {
  max-width: 480px;
  display: flex;
  margin: 0 auto;
}

.more-information {
	height: 400px;
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.more-information a {
  width: 200px;
  height: 45px;
}

.more-information p {
  margin: 3%;
}

.more-information h3 {
  font-weight: normal;
}

.heading-1-white {
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	color: black;
	padding-top: 5%;
}

.chilicorn-fund {
	margin: 0;
	padding: 0;
  background-size: cover;
}

.chilicorn-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  max-width: 90%;
  position: relative;
  text-align: center
}

.chilicorn-container h1 {
  text-align: center;
  font-size: 61px;
  font-weight: 800;
  padding-bottom: 10px;
  font-family: "Space mono"
}

.chilicorn-container h2 {
  font-size: 53px;
  font-weight: 800;
  padding-bottom: 30px
}

.chilicorn-container:after {
  content: " ";
  display: block;
  clear: both
}

.hero {
  color: #000;
  text-align: center;
  padding: 40px 0 0px 0;
  margin-bottom: 0px
}

.hero p,.hero h2 {
  font-size: 23px;
  font-weight: 300;
  max-width: 20em;
  margin: auto;
  opacity: 0.7;
  font-family: "space mono"
}

.hero a,.hero a:visited {
  color: #000
}

.hero h1 {
  color: #000
}

.hero img.chilicorn {
  width: 40%;
  max-width: 400px;
  height: auto;
  margin-bottom: 20px
}

@media screen and (max-width: 500px) {
  .hero h1 {
      font-size:38px
  }

  .hero p,.hero h2 {
      font-size: 18px
  }
}

@media screen and (min-width: 500px) {
  .hero {
      padding-top:60px
  }

  .hero h1 {
      font-size: 53px
  }

  .hero p,.hero h2 {
      font-size: 23px
  }
}

@media screen and (min-width: 800px) {
  .hero {
      padding-top:120px
  }

  .hero h1 {
      font-size: 75px
  }
}

.chilicorn.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  background-color: #615a47;
  background-image: url("./chilicorn-world-no-clouds-no-corn.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.chilicorn.hero h1,.chilicorn.hero h2,.chilicorn.hero p,.chilicorn.hero a,.chilicorn.hero a:hover,.chilicorn.hero a:visited,.chilicorn.hero a:active {
  color: white;
  text-shadow: 1px 1px 1px gray
}

.chilicorn.hero h1 {
  margin: 0
}

.chilicorn.hero h2 {
  font-weight: 100;
  opacity: 1;
  line-height: 1.1;
}

.chilicorn.hero .container {
  z-index: 100
}

.chilicorn-static {
  position: absolute;
  left: 33%;
  bottom: 5%;
  width: 110px !important;
}

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 169px;
  width: 169px;
  display: block;
  margin: auto;
  margin-top: 2%;
}

/* Text styles */

.title {
  margin-top:0;
  font-family: 'Space Mono', monospace;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
}

.heading-1 {
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	margin-top: 2px;
}

.term-name {
	font-size: 45px;
	font-weight: bold;
	color: #ffffff;
}

.heading-2 {
  font-weight: 400;
  margin: 1rem;
	font-size: 2rem;
	color: #ffffff;
}

.heading-3 {
	font-size: 30px;
	font-weight: bold;
	line-height: 1.1;
	color: #ffffff;
}

.heading-4 {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.25;
	text-align: center;
	color: #ffffff;
	margin: 2%;
}

.heading-4-small {
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 0;
}

.heading-5 {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
}

.body-text {
  font-size: 1rem;
	line-height: 1.39;
  color: #d8d8d8;
}

.small-text {
	margin: 2%;
	font-size: 16px;
	line-height: 1.31;
	color: #ffffff;
}

.text-link {
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

.really-small-text {
  margin-top: 0;
	font-size: 0.85rem;
	line-height: 1.42;
	color: #d8d8d8;
}

.whole-story {
  float: right;
}

::-webkit-input-placeholder {
   font-size: 0.8rem;
}

a:hover:not(.feedback-button) {
  color: var(--purpley);
}

.left-align {
  text-align: left;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.numbers h3 {
  margin: 2%;
  font-weight: normal;
}

.numbers p {
  font-size: 1rem;
}

.quotes-icon, .calendar-icon, .posts-icon {
  width: 32px;
}

.most-common-tooltip {
  height: 14px !important;
}