.modal-section {
    border-bottom: 2px solid var(--beige);
}

.quote-modal-text {
  color: black;
  width: 80%;
  margin: 0 auto;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 0.85rem;
  line-height: 1.5;
  display: block;
  font-size: 1rem;
}

.quote-modal {
  font-family: Futurice, Roboto;
  height: 90%;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  overflow: scroll;
  border: solid 3px var(--beige);
}

.quote-modal-content {
    height: 900px;
    padding-top: 150px;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0,0,0,0.7) !important;
}

.quote-modal-heading {
  position: fixed;
  margin: 0 auto;
  width: 80%;
  background: white;
}