.search-box {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.search-heading {
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: 30px;
  font-weight: bold;
}

.form {
  width: 100%;
}

.association-result {
  padding-top: 3%;
  display: flex;
  max-width: 960px;
  min-height: 480px;
  padding-left: 3%;
  padding-right: 3%;
}

.association-result-left {
  flex: 2;
  font-size: 2rem;
}

.keyword {
  margin: 0;
}

.list-of-bucket {
  text-decoration: underline;
}

.line-separator {
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
  margin: 2%;
}

.result {
  font-size: 1rem;
  margin: 0;
}

.chart {
  flex: 4;
}

.minor-margin {
  margin: 2%;
}