.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.intro {
  font-size: large;
}

.form {
  align-self: center;
}

.charts {
  display: inline;
  align-content: flex-start;
}

.mostCommon {
  display: block;
  align-content: center;
}